.information {
  width: 747px;
  height: 595px;
  background: var(--color-bogy-main);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}