@import "resume/theme.css";
@import "resume/resume.css";

.card {
    width: 1127px;
    height: 595px;
    margin: 90px;
    background: var(--color-body-background);
    display: flex;
    border-radius: 30px;
}